@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
}

/* Optional: Style the scrollbar track and thumb */
::-webkit-scrollbar-track {
  background: transparent; /* Make scrollbar track transparent */
}

body{
  background-color: #0C4B54;
  padding: 0%;
  box-sizing: border-box;
  margin: 0%;
  color: white;
}